/* Stannis 292471 */
.b-comment[data-user_id="292471"]:not(.tooltipped) header a.name, .b-user[id="292471"] a.name, .b-user16>img[src*="292471.png"]+span
{
	color: #f01d16 !important; 
}
/* Reddolution 290014 */
.b-comment[data-user_id="290014"]:not(.tooltipped) header a.name, .b-user[id="290014"] a.name, .b-user16>img[src*="290014.png"]+span
{
	color: #7702d9 !important;
    color: #1da802 !none;
    color: #ab0307 !none;
}
/* IMMORTALloser 755522 */
.b-comment[data-user_id="755522"]:not(.tooltipped) header a.name, .b-user[id="755522"] a.name, .b-user16>img[src*="755522.png"]+span
{
	color: #0b15b3 !none; 
    color: #1da802 !important;
    color: #ab0307 !none;
}
/* Vittorio_OrlandO 287650 */
.b-comment[data-user_id="287650"]:not(.tooltipped) header a.name, .b-user[id="287650"] a.name, .b-user16>img[src*="287650.png"]+span
{
    color: #1da802 !important;
}
/* Barbaduk 521570 */
.b-comment[data-user_id="521570"]:not(.tooltipped) header a.name, .b-user[id="521570"] a.name, .b-user16>img[src*="521570.png"]+span
{
    color: #ab0307 !important;
}
/* Kormary 311507 */
.b-comment[data-user_id="311507"]:not(.tooltipped) header a.name, .b-user[id="311507"] a.name, .b-user16>img[src*="311507.png"]+span
{
    color: #1da802 !important;
}
/* Bankaibringer 233432 */
.b-comment[data-user_id="233432"]:not(.tooltipped) header a.name, .b-user[id="233432"] a.name, .b-user16>img[src*="233432.png"]+span
{
    color: #1da802 !none;
    color: #ab0307 !none;
}
/* ssadhamsster 693375 */
.b-comment[data-user_id="693375"]:not(.tooltipped) header a.name, .b-user[id="693375"] a.name, .b-user16>img[src*="693375.png"]+span
{
    color: #1da802 !important;
}
/* valeriesq 313245 */
.b-comment[data-user_id="313245"]:not(.tooltipped) header a.name, .b-user[id="313245"] a.name, .b-user16>img[src*="313245.png"]+span
{
    color: #1da802 !important;
}
/* DSALTOVSKY 683110 */
.b-comment[data-user_id="683110"]:not(.tooltipped) header a.name, .b-user[id="683110"] a.name, .b-user16>img[src*="683110.png"]+span
{
    color: #1da802 !important;
    color: #ab0307 !none;
}
/* JashOFHop_ 531542 */
.b-comment[data-user_id="531542"]:not(.tooltipped) header a.name, .b-user[id="531542"] a.name, .b-user16>img[src*="531542.png"]+span
{
    color: #1da802 !none;
}

/* BasedRandom 429603 */
.b-comment[data-user_id="429603"]:not(.tooltipped) header a.name, .b-user[id="429603"] a.name, .b-user16>img[src*="429603.png"]+span
{
    color: #1da802 !important;
}
/* Moonvik 60161 */
.b-comment[data-user_id="60161"]:not(.tooltipped) header a.name, .b-user[id="60161"] a.name, .b-user16>img[src*="60161.png"]+span
{
    color: #1da802 !important;
}
/* Garec 1224161 */
.b-comment[data-user_id="1224161"]:not(.tooltipped) header a.name, .b-user[id="1224161"] a.name, .b-user16>img[src*="1224161.png"]+span
{
    color: #1da802 !important;
}
/* neyoki 50685 */
.b-comment[data-user_id="50685"]:not(.tooltipped) header a.name, .b-user[id="50685"] a.name, .b-user16>img[src*="50685.png"]+span
{
    color: #1da802 !important;
}
